<div class="navbar-collapse collapse pull-right">
    <ul class="nav navbar-nav">

        @if (!Alpha.Utility.GCSession.IsStater)
        {
            <li class="askQuestionMenu pull-left"><a href="#." @((Request.RawUrl == "/") ? "data-pjax" : "")><i class="fa fa-bullhorn fa-2 menuiconfont" aria-hidden="true"></i> Ask Question | </a></li>
            <li><a href="/posts/post/index?type=feed" class="top-pjax-menu" @((Request.RawUrl == "/") ? "data-pjax" : "")><i class="fa fa-newspaper-o fa-2 menuiconfont" aria-hidden="true"></i> Feeds | </a></li>
            <li><a href="/posts/post/index?type=answers" class="top-pjax-menu" @((Request.RawUrl == "/") ? "data-pjax" : "")><i class="fa fa-reply fa-2 menuiconfont" aria-hidden="true"></i> Answer | </a></li>
            <li><a href="/posts/post/index?type=ask" class="top-pjax-menu"><i class="fa fa-question-circle fa-2 menuiconfont" aria-hidden="true"></i> Question | </a></li>
            <li><a href="/useracccount/Settings/search" class="top-pjax-menu"><i class="fa fa-users fa-2 menuiconfont" aria-hidden="true"></i> Criends | </a></li>
        }
        <li class="dropdown">
            <a data-toggle="dropdown" style="padding-top:10px; padding-bottom:10px; color:#fff; border-radius:0px; cursor:pointer;">
                <img id="id_top_avatar" width="30" height="30" src="@Alpha.Utility.GCSession.ProfileImage"
                     style="border-radius:100px;" onerror="this.src='/Asserts/images/noprofile.png'" />
                @Alpha.Utility.GCSession.UserDisplayName <b class="caret"></b>
            </a>
            <ul id="menu3" class="dropdown-menu" style="margin-top:0px; border-top:none;">
                @if (!Alpha.Utility.GCSession.IsStater)
                {
                    <li><a href="/useracccount/settings#/preview" tabindex="-1"><i class="fa fa-user fa-2" aria-hidden="true"></i> My Profile</a></li>
                    <li><a href="/useracccount/settings#/basic" tabindex="-1"><i class="fa fa-cog fa-2" aria-hidden="true"></i> Settings</a></li>
                    <li><a href="/useracccount/settings#/tags" tabindex="-1"><i class="fa fa-tags fa-2" aria-hidden="true"></i> Intrestings</a></li>
                }
                <li id="logout"><a tabindex="-1"><i class="fa fa-sign-out fa-2" aria-hidden="true"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</div>
