@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Criends</title>
    <link href="~/Asserts/images/c.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/bundles/css")
    <link href="~/Content/kendo/kendo.common-material.min.css" rel="stylesheet" />
</head>
<body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container">
            <span id="notification"></span>
            <div class="navbar-header pull">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><p style="font-family:Arial; font-size:14px; background:#234763; color:#fff; padding:8px 10px 8px 10px; border-radius:4px; margin-top:-5px; border-radius:4px; line-height:1;"><b>Criends</b></p></a>
            </div>

            @if (Alpha.Utility.GCSession.IsSession)
            {
                Html.RenderPartial("_TopMenu");
            }
        </div>
    </div>
    <div class="container" style="margin-top:70px; margin-bottom:20px;">
        <div class="row bs-example bs-example-tabs">
            <div class="col-md-3">
                <div style="padding-top:5px; padding-bottom:5px; background-color:#ffffff; border:1px solid #e1e1e8; border-radius:4px; margin-bottom:20px;">
                    @RenderBody()
                </div>
            </div>
            <div class="col-md-9">
                <div id="placeholder" style="padding:20px; background-color:#ffffff; border:1px solid #e1e1e8; border-radius:4px; margin-bottom:20px;">
                    <!--content goes here-->
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="meuserid" value="@Alpha.Utility.GCSession.UserGuid.ToString()" id="meuserid" />
    <input type="hidden" name="mename" value="@Alpha.Utility.GCSession.UserDisplayName" id="mename" />
    <input type="hidden" name="meprofileimage" value="@Alpha.Utility.GCSession.ProfileImageName" id="meprofileimage" />
    <input type="hidden" name="meemail" value="@Alpha.Utility.GCSession.Email" id="meemail" />
    <input type="hidden" name="blob" value="@Alpha.Bo.Utility.Configs.ImagePrefixBlob" id="blob" />
    <input type="hidden" name="blobprofile" value="@Alpha.Bo.Enums.Enums.Imagetype.profileimages.ToString()" id="blobprofile" />
    <input type="hidden" name="blobpost" value="@Alpha.Bo.Enums.Enums.Imagetype.postimages.ToString()" id="blobpost" />

    <div id="google_translate_element" class="hidden"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    @*models*@
    @{Html.RenderPartial("models/_AskQuestions");}
    @{Html.RenderPartial("models/_AddRemoveTags");}
    @{Html.RenderPartial("models/_HelpModel");}
    <script src="~/Scripts/kendo/jquery.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Asserts/js/plugin.js"></script>
    <script src="~/Asserts/utility/ajax.js"></script>
    <script src="~/Asserts/utility/comman.js"></script>
    <script src="~/Asserts/ts/posts/createPost.js"></script>
    @RenderSection("scripts");
</body>
</html>